<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>BagMaster - Gerenciamento de Produção</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #F8F9FA; /* Cor de fundo mais clara e neutra para UX design */
    }

    .container {
      text-align: center;
      margin-top: 50px;
    }

    .ola {
      color: #007BFF;
      font-family: 'Arial', sans-serif; /* Escolha de uma fonte mais profissional */
    }

    .lead {
      text-align: center;
      color: #333; /* cor mais escura para melhor legibilidade */
      font-family: 'Arial', sans-serif; /* Escolha de uma fonte mais profissional */
    }

    .btn-login {
      margin-top: 20px;
      background-color: #007BFF; /* cor mais chamativa */
      border-color: #007BFF; /* cor da borda igual à cor de fundo para um visual mais integrado */
      padding: 15px 50px; /* tamanho do botão aumentado horizontalmente */
      font-size: 18px; /* tamanho do texto aumentado */
    }

    .btn-login:hover {
      background-color: #0056b3; /* cor mais escura ao passar o mouse para efeito visual */
      border-color: #0056b3;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1 class="ola display-3">Bem-vindo ao BagMaster</h1>
    <br>
    <h2 class="ola lead">O seu sistema de gerenciamento de produção para sacolas personalizadas</h2>
    <a href="/login" class="btn btn-primary btn-login">Login</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>