<div class="card" id="card-login">
  <h1>LOGIN</h1>
  <div class="card-body">
    <form action="/usuarioroutes/login" method="POST">
      <label for="nome">E-mail:</label>
        <input type="text" id="email" name="email" placeholder="E-mail do usuário" class="form-control">
        <br>
      <label for="nome">Senha:</label>
        <input type="text" id="senha" name="senha" placeholder="Senha do usuário" class="form-control">
        <br>
      <button type="submit" class="btn btn-success">Entrar</button>
    </form>
  </div>
</div>