<div class="box-header-equipamento mb-4">
    <div class="card-body mt-5" style="background-color: white; text-align: center; border-radius: 15px;">
        <h3 class="mt-3">Adicionando Cliente</h3>
        <form action="/empresaroutes/incluirroute/empresa" method="POST" class="text-left">
            
            <div class="form-group">
                <input type="text" id="nomeEmpresa" name="nomeEmpresa" placeholder="Nome da empresa" class=" mt-3 form-control col-8 mx-auto" style="background-color: #D5D5D5;">
            </div>
            
            <div class="form-group">
                <input type="text" id="CNPJ" name="CNPJ" placeholder="CNPJ ( XX.XXX.XXX/000X-XX )" class="form-control col-8 mx-auto" style="background-color: #D5D5D5;">
            </div>
            
            <div class="form-group">
                <input type="text" id="CEP" name="CEP" placeholder="CEP ( XXXXX-XXX )" class="form-control col-8 mx-auto" style="background-color: #D5D5D5;">
            </div>
            
            <div class="form-group">
                <input type="text" id="enderecoEmpresa" name="enderecoEmpresa" placeholder="Endereço da empresa" class="form-control col-8 mx-auto" style="background-color: #D5D5D5;">
            </div>
            
            <div class="form-group">
                <input type="text" id="telefoneEmpresa" name="telefoneEmpresa" placeholder="Telefone de contato da empresa" class="form-control col-8 mx-auto" style="background-color: #D5D5D5;">
            </div>
            
            <div class="form-group">
                <input type="email" id="emailEmpresa" name="emailEmpresa" placeholder="Email de contato da empresa" class="form-control col-8 mx-auto" style="background-color: #D5D5D5;">
            </div>
            
            <div class="form-group">
                <input type="text" id="tipoJuridicoEmpresa" name="tipoJuridicoEmpresa" placeholder="Tipo jurídico da empresa" class="form-control col-8 mx-auto" style="background-color: #D5D5D5;">
            </div>
            <div class="form-group">
              <div class="text-center">
                  <button type="submit" class="btn col-8 mx-auto" style="background-color: #020060; color: #ffffff;">Continuar</button>
              </div>
          
            </div>
        </form>
    </div>
</div>
{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{/each}}
