<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="box-header-equipamento mb-4">
    <div class="card-body" style="background-color: white; text-align: center;">
        <h3 class="mt-3">Adicionando pedido</h3>
        <form action="/pedidoroutes/incluirroute/concluir" method="POST" class="text-left">
          
            <div class="form-group">
                
                <input type="text" id="preco" name="preco" placeholder="Preço" class="form-control col-8 mx-auto mt-5">
            </div>
            <div class="form-group">
                <label for="empresaPedido">Empresa que fez o pedido:</label>
                <select id="empresaPedido" name="empresaPedido" class="form-control col-8 mx-auto">
                    <script>
                        function carregarEmpresas() {
                            $.get('/pedidoroutes/obterempresas', function (empresas) {
                                const selectEmpresa = $('#empresaPedido');
                                selectEmpresa.empty();

                                empresas.forEach(function (empresa) {
                                    selectEmpresa.append($('<option>', {
                                        value: empresa.id,
                                        text: empresa.nomeEmpresa,
                                    }));
                                });
                            });
                        }
                        carregarEmpresas();
                    </script>
                </select>
            </div>
            <div class="form-group">
                <label for="funcionarioPedido">Funcionário que fez o pedido:</label>
                <select id="funcionarioPedido" name="funcionarioPedido" class="form-control col-8 mx-auto">
                    <script>
                        function carregarFuncionarios() {
                            $.get('/pedidoroutes/obterfuncionarios', function (usuarios) {
                                const selectFuncionario = $('#funcionarioPedido');
                                selectFuncionario.empty(); // Limpa as opções existentes

                                usuarios.forEach(function (funcionario) {
                                    selectFuncionario.append($('<option>', {
                                        value: funcionario.id,
                                        text: funcionario.nome,
                                    }));
                                });
                            });
                        }
                        carregarFuncionarios();
                    </script>
                </select>
            </div>
            <div class="form-group">
                 <div class="text-center"> 
                <button type="submit" class="btn col-8 mx-auto"style="background-color: #020060; color: #ffffff;">Cadastrar</button>
                 </div>
            </div>
        </form>
    </div>
</div>
{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{/each}}
