<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container mb-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="box-header">
                <h3 class="text-center mb-4">Adicionando Pedido</h3>
                <form action="/pedidoroutes/incluirroute/pedido" method="POST">

                    <!-- Dados do Pedido -->
                    <div class="form-group">
                        <input type="text" id="nome" name="nome" placeholder="Nome do pedido" class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" id="corSacola" name="corSacola" placeholder="Cor da sacola"
                            class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" id="corTinta" name="corTinta" placeholder="Cor da tinta"
                            class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" id="quantidade" name="quantidade" placeholder="Quantidade"
                            class="form-control">
                    </div>

                    <div class="form-group">
                        <input type="text" id="tamanho" name="tamanho" placeholder="Tamanho" class="form-control">
                    </div>

                    <div class="form-group">
                        <select id="tipo" name="tipo" class="form-control">
                            <option value="plastico">Plástico</option>
                            <option value="pano">Tecido</option>
                            <option value="papel">Papel</option>
                            <option value="outro">Outro</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select id="impressao" name="impressao" class="form-control">
                            <option value="Um lado">Um lado</option>
                            <option value="Dois lados">Dois lados</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <input type="text" id="preco" name="preco" placeholder="Preço" class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="empresaPedido">Empresa que fez o pedido:</label>
                        <select id="empresaPedido" name="empresaPedido" class="form-control">
                            <script>
                                function carregarEmpresas() {
                                    $.get('/pedidoroutes/obterempresas', function (empresas) {
                                        const selectEmpresa = $('#empresaPedido');
                                        selectEmpresa.empty();

                                        empresas.forEach(function (empresa) {
                                            if (empresa.status === 'ativo') {
                                                selectEmpresa.append($('<option>', {
                                                    value: empresa.id,
                                                    text: empresa.nomeEmpresa,
                                                }));
                                            }
                                        });
                                    });
                                }
                                carregarEmpresas();
                            </script>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="funcionarioPedido">Funcionário que fez o pedido:</label>
                        <select id="funcionarioPedido" name="funcionarioPedido" class="form-control">
                            <script>
                                function carregarFuncionarios() {
                                    $.get('/pedidoroutes/obterfuncionarios', function (usuarios) {
                                        const selectFuncionario = $('#funcionarioPedido');
                                        selectFuncionario.empty();

                                        usuarios.forEach(function (funcionario) {
                                            // Verifica se a função é 'pedidos' ou 'administrador'
                                            if (funcionario.funcao === 'Pedidos' || funcionario.funcao === 'Administrador') {
                                                selectFuncionario.append($('<option>', {
                                                    value: funcionario.id,
                                                    text: funcionario.nome,
                                                }));
                                            }
                                        });
                                    });
                                }
                                carregarFuncionarios();
                            </script>
                        </select>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-custom btn-lg col-12">Adicionar Pedido</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{#if erros.length}}
<div class="container mb-4"> <!-- Use the same container class -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert-container">
                <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert">
                    {{#each erros}}
                    <p>{{this.texto}}</p>
                    {{/each}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}}

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
    }

    .box-header {
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .btn-custom {
        background-color: #020060;
        color: #ffffff;
    }

    .btn-custom:hover {
        background-color: #011b4a;
        color: #ffffff;
        transition: 0.5s;
    }

    .alert-container {
        max-width: 100%;
        /* Adjust as needed */
        margin: 0 auto;
    }
</style>